@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 690px) {
}
.page {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.section {
  display: flex;
}
.container {
  max-width: 1287px;
  width: 100%;
  margin: 0 auto;
}
/*---promo---*/
.promo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  padding-bottom: 123px;
  box-sizing: border-box;
}
.promo-moscow {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.nav-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  height: 84.8px;
  background: #6c2cff33;
  border-radius: 1000px;
  border: 2px solid #121212;
  backdrop-filter: blur(81.4000015258789px);
}
.nav-list li {
  width: fit-content;
  height: 100%;
  border-radius: 1000px;
}
.nav-link {
  height: 100%;
  border-radius: 1000px;
  padding-left: 49px;
  padding-right: 49px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35.22px;
  color: #fff;
  transition: all 0.2s ease-out;
}
.nav-link img {
  width: auto;
  height: auto;
  object-fit: cover;
}
.nav-link.active {
  background: #6c2cff;
}
/*---promo-page---*/
.promo-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-title {
  width: fit-content;
  margin: 51px auto 0;
  position: relative;
}
.page-title span {
  font-weight: 400;
  font-size: 50px;
  line-height: 58.7px;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-weight: 700;
  font-size: 144.12px;
  line-height: 169.2px;
  color: #fff;
}
.page-guide {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 73px;
  margin: 72px auto 0;
}
.page-guide-btn {
  padding-left: 52px;
  padding-right: 52px;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 22px;
  background: #6c2cff33;
  border-radius: 1000px;
  border: 2px solid #121212;
  backdrop-filter: blur(81.4000015258789px);
  font-weight: 500;
  font-size: 30px;
  line-height: 35.22px;
  color: #fff;
}
.page-guide-btn img {
  width: auto;
  height: auto;
  object-fit: cover;
}
/*---page-inner---*/
.page-inner {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 17px 22px;
  margin: 140px auto 0;
}
.inner-item {
  width: 100%;
  height: 95px;
  background: #fff;
  border: 2px solid #121212;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 48px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 45px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35.22px;
  color: #121212;
  transition: all 0.2s ease-out;
}
.inner-item:hover {
  background: #6c2cff;
  color: #fff;
  border: 2px solid #ffffff;
}
.inner-item-icon {
  fill: #6c2cff;
}
.inner-item-icon.active {
  fill: #fff;
}
.inner-item:hover .inner-item-icon {
  fill: #fff;
}
