.main-start {
  width: 100%;
  height: 100dvh;
  background: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}
.main-start__wrapper {
  max-width: 400px;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.main-start__iinner {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: #fff;
}
.main-start__closed {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -30px;
  right: -30px;
  background: transparent;
}
.choice-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  transition: all.2s ease-in-out;
}
.choice-image.active {
  transform: rotate(90deg);
}
.main-start__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-start__choice {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: #000;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
}
.main-start__choice.active {
  border-radius: 5px 5px 0 0;
}
.choice-nested {
  width: 100%;
  height: fit-content;
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 50px;
  padding: 10px;
  box-sizing: border-box;
  background: #000;
  border-radius: 0 0 5px 5px;
}
.choice-nested.active {
  display: flex;
}
.choice-nested p {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
